@model int
<div class="container mt-4">
    <div class="col-12 text-center">
        <h2 class="text-primary">Order Placed Successfully</h2>
        <p>Your order number is @Model</p>
         <img src="~/Images/lawn_leaf.jpg" width="65%"/>

    </div>
    <div class="col-12">
        <div class="text-danger text-center">
            Your order has been placed succesfully.
        </div>
    </div>

</div>